/* Adicionando a fonte Roboto do Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  font-family: "Archivo Black", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* Restante do seu CSS... */


/* Estilos para o tema claro */
.light-theme {
  background-color: #FFFFFF; /* Branco Completo */
  color: #2C2F33; /* Cinza Escuro */
  /* ... outros estilos para o tema claro ... */
}

/* Estilos para o tema escuro */
.dark-theme {
  background-color: #23272A; /* Preto Quase */
  color: #FFFFFF; /* Branco Completo */
  /* ... outros estilos para o tema escuro ... */
}

.carousel-caption {
  position: absolute;
  top: 50%; /* Posiciona no meio verticalmente */
  left: 5%; /* Posiciona à esquerda com uma margem */
  transform: translateY(-50%); /* Ajusta a posição vertical para o centro exato */
  z-index: 10;
  color: #fff;
  text-align: center; /* Alinha o texto à esquerda */
  background: rgba(0, 0, 0, 0.5); /* Adiciona um fundo escuro para melhorar a legibilidade */
  width: 25%;

  a {
    margin-top: 7%;
  }

  h5 {
    font-size: x-large;
  }
}

/* Media query para ajustes específicos de telas pequenas */
@media (max-width: 767px) {
  .carousel-caption {
    left: 10%; /* Ajusta a margem esquerda para telas menores */
    font-size: 0.9rem; /* Ajusta o tamanho da fonte para telas pequenas */
  }
  .carousel-caption h5 {
    font-size: 1.5rem; /* Ajusta o tamanho da fonte do título para telas pequenas */
  }
  .carousel-caption p {
    font-size: 1rem; /* Ajusta o tamanho da fonte do parágrafo para telas pequenas */
  }
}

::-webkit-scrollbar {
  width: 0;
}




