* {
    padding: 0;
    margin: 0;
}

:root {
    --corprimaria: #00FD00; /* Verde brilhante */
    --corsecundaria: #181818; /* Quase preto */
    --corfundo: #F5F5F5; /* Cinza claro */
    --texto-primario: #ffffff; /* Branco */
    --texto-secundario: #000000; /* Preto */
    --hover-primario: #388E3C; /* Verde escuro */
    --hover-secundario: #333333; /* Cinza escuro */
}

body {
    background-color: var(--hover-primario);
}

main {
    background-color: var(--corfundo);
    width: 100%;
}

h1 {
    margin-left: 5%;
    margin-top: 2%;
}

#linha-1, #linha-2, #linha-3 {
    display: flex;
}

section {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
}

section p {
    margin-top: 1%;
}

.produto {
    border: 1px solid #000;
    margin: 10px;
    padding: 20px;
    margin-left: 3%;
    width: 390px;
    height: 750px;
    background-color: var(--texto-primario);
    object-fit: cover;
}

.produto img {
    max-width: 100%;
    height: auto;
}

.preco {
    color: var(--hover-primario);
    font-weight: bold;
    margin-top: 5%;
    border-top: 1px solid var(--corsecundaria);
}

.preco {
    display: flex;
    flex-direction: column;
    justify-content: end;
    text-align: center;
    margin-top: 50px;
}

#preco-smartphone {
    margin-top: 65%;
    text-align: center;
}

#preco-monitor {
    text-align: center;
    margin-top: 37%;
}

#preco-placa-de-video {
    margin-top: 26%;
    text-align: center;
}

#preco-console {
    text-align: center;
    margin-top: 15%;
}

.produto button {
    border: none;
    padding: 10px;
    text-align: center;
    width: 100%;
    cursor: pointer;
    border-radius: 8px;
    background-color: var(--hover-primario);
    color: var(--texto-primario);
    margin-top: 5%;
}

.produto button:hover {
    background-color: #307733;
}

.produto button:active {
    background-color: var(--corprimaria);
    transition: transform .3s ease;
}